@font-face {
  font-family: "Droid Serif";
  src: url('fonts/DroidSerif-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}