@font-face {
  font-family: "Droid Serif";
  src: asset-url('DroidSerif-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: asset-url('Montserrat-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sketchy";
  src: asset-url('sketchy.ttf');
  font-weight: normal;
  font-style: normal;
}